body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    border: 1px solid black;
    margin: 3px;
    width: 50px;
    height: 30px;

}
.b1{
    border: 1px solid black;
    width: 33px;
    height: 33px;
    background-color: #ff0000;
    margin: 3px;
}
.b2{
    border: 1px solid black;
    width: 56px;
    height: 56px;
    background-color: #b6ff00;
    margin: 3px;
}
.b3{
    border: 1px solid black;
    width: 19px;
    height: 19px;
    background-color: #00ff21;
    margin: 3px;
}
.b4{
    display: inline-block;
}
.b5{
    display: inline-block;
}
.b6{
    display: inline-block;
}
.rectangle {
    height: 50px;
    width: 150px;
    border: 10px solid black;
    background-color: red;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
.t1{
    color: white;
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.photo1{
    width: 200px;
    display: inline-block;
    margin: 10px;
}
label{
    text-align:right;
    width: 150px;
    display: inline-block;
}
button{
    background-color: aqua;
    text-align: center;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
table{
    background-color: white;
    color: black;
}
.s2{
    background-color: white;
    color: black;
}
