body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 7px;
}
.inline-block{
    display: inline-block;
}
.t1{
    color: #461414;
    margin: 7px;
    text-align: left;
}
.photo1{
    width: 255px;
    margin: 7px;
}
.t-center{
    text-align: center;
}
label{
    text-align:right;
    width: 150px;
    display: inline-block;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
table{
    background-color: white;
    color: black;
}
button{
    background-color: #6e95f2;
    color: black;
}
